.gradle

bin

Reports

Libs

output

!output/.gitkeep
build

.classpath

.project


.settings
/settings/
.cache
*.gradle
.log
*.log
appium.log
/bin/
/Reports/
/Libs/
.gradle

bin

Reports

Libs

output

!output/.gitkeep
build

.classpath

.project
/bin/
/Libs/
/.settings/
/.classpath
.svn/

.log
.settings
/settings/
.cache
console.properties
/Reports/